html, body, #root{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  font-size: 100%;
}

.app-wrapper{  
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;  
}

.app-wrapper.quotes{
  align-items: center;
  justify-content: center;  
}