html, body, #root{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  font-size: 100%;
}

.app-wrapper{  
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;  
}

.app-wrapper.quotes{
  align-items: center;
  justify-content: center;  
}

.app-wrapper__creator{
  color: #aaa2a2;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.app-wrapper__creator a{
  font-weight: bold;
  color: #1dcaff;
  text-decoration: unset;
}